---
export interface Props {}
---

<section class="flex flex-col-reverse lg:flex-row items-center lg:items-start">
  <div class="flex-col lg:items-start items-center gap-2">
    <h1
      class="lg:max-w-[40vw] text-5xl mb-2 font-bold text-center lg:text-left"
    >
      Turing AI is the best way to use AI
    </h1>
    <p class="text-lg lg:max-w-[30vw] mb-4 text-center lg:text-left">
      Turing AI offers free, easy-to-use AI tools for everyone. The open-source
      and freemium model fosters innovation, community engagement, and user
      control over their data and privacy.
    </p>
    <a
      class="border border-gray-400 py-3 md:py-2 px-3 transition duration-200 rounded hover:border-white cursor-pointer left-[50%]"
      href="https://discord.com/invite/uJDg2SxR8C"
      target="_blank">Join our discord server</a
    >
  </div>
  <img src="/neon.png" alt="turing ai logo" />
</section>
