---
import page from "../../lib/pag.js";
import DiscordBot from "../cta/DiscordBot.astro";
import WhatsappBot from "../cta/WhatsappBot.astro";
import TelegramBot from "../cta/TelegramBot.astro";
---

<div class="flex flex-col items-center">
  <div class="flex flex-col items-start">
    <h1 class="text-5xl font-bold">The best AIs integrated into</h1>
    <div class="flex flex-col md:flex-row items-star gap-10">
      <div class="flex flex-col items-start">
        <strong
          class={`text-5xl font-bold ${
            page.get() == "whatsapp"
              ? "text-whatsapp-green"
              : page.get() == "telegram"
              ? "text-telegram-blue"
              : "text-discord-blurple"
          }`}>{page.get()}</strong
        >
        <p class="text-lg mt-2">
          Turing AI offers free, easy-to-use AI tools for everyone to automate
          and enhance various functions. The open-source and freemium model
          fosters innovation, community engagement, and user control over their
          data and privacy. It's a game-changing organization bringing AI
          technology to the masses.
        </p>
      </div>
      <img src="/Asset_Discord.png" width="500" class="mt-4" />
    </div>
  </div>
  <div class="flex flex-row items-center gap-2 mt-4">
    <a
      class="bg-neutral-600/[.8] py-2 md:py-1 px-2 transition duration-200 rounded hover:bg-neutral-600 cursor-pointer"
      href="https://discord.com/invite/uJDg2SxR8C"
      target="_blank">Join our discord server</a
    >
    {
      page.get() == "whatsapp" ? (
        <WhatsappBot />
      ) : page.get() == "telegram" ? (
        <TelegramBot />
      ) : (
        <DiscordBot />
      )
    }
  </div>
</div>
