---
export interface Props {

}
---

<button class="bg-discord-blurple/[.8] py-2 md:py-1 px-2 text-white hover:bg-discord-blurple rounded transition duration-200 flex flex-row items-center gap-2">
    <i class="fa-brands fa-discord"></i> Add discord bot
</button>