@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1d1b31;
  background-image: url("/bg-ping.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (max-width: 768px) {
  :root {
    background-color: #000000;
    background-image: url("/bg-pong.jpg");
    background-size: 170%;
    background-repeat: no-repeat;
  }
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track piece of the scrollbar */
::-webkit-scrollbar-track {
}

/* Handle piece of the scrollbar */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-turing-blue to-turing-purple shadow-lg cursor-pointer;
  border-radius: 4px;
}

/* Optional: Set the color of the scrollbar when hovered */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.markdown {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
  code {
    @apply text-sm font-mono bg-[#36393f] px-1 py-2 block rounded text-white;
  }
}
