@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1d1b31;
  background-image: url("/bg-ping.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (max-width: 768px) {
  :root {
    background-color: #000000;
    background-image: url("/bg-pong.jpg");
    background-size: 170%;
    background-repeat: no-repeat;
  }
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track piece of the scrollbar */
::-webkit-scrollbar-track {
}

/* Handle piece of the scrollbar */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-turing-blue to-turing-purple shadow-lg cursor-pointer;
  border-radius: 4px;
}

/* Optional: Set the color of the scrollbar when hovered */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: none;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  &::-webkit-slider-runnable-track {
    height: 0.25rem;
    @apply bg-white bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 border border-gray-100/[.2] rounded-md;
  }
  &::-moz-range-track {
    background: red;
    height: 0.5rem;
    border-radius: 4px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -1vh; /* Centers thumb on the track */
    @apply h-[3vh] w-[3vh] rounded-full bg-gradient-to-br from-turing-blue to-turing-purple  hover:from-turing-purple hover:to-turing-blue transition duration-200;
    // write inside the number of the value
  }
  &::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -1vh; /* Centers thumb on the track */
    @apply h-[3vh] w-[3vh] rounded-full bg-gradient-to-br from-turing-blue to-turing-purple  hover:from-turing-purple hover:to-turing-blue transition duration-200;
  }
}
select {
  // change select menu
}

.markdown {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
  code {
    @apply text-sm font-mono bg-[#36393f] px-1 py-2 block rounded text-white;
  }
}
