---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/newlanding/navbar.astro";
import FirstView from "../components/newlanding/FirstView.astro";
import Stats from "../components/newlanding/Stats.astro";
import Footer from "../components/newlanding/Footer.astro";
---

<Layout
  title="Turing AI"
  description="Turing AI"
  keywords="turing, turing ai, ai, chatgpt, artificial inteligence, turing.ai, discord, stable diffusion, midjourney, free, open source, github, twitter, discord bot"
>
  <main
    class="flex flex-col items-center gap-12 justify-start w-full h-full min-h-[100vh]"
  >
    <Navbar />
    <FirstView />
    <Stats />
    <Footer />
  </main>
</Layout>
<style>
  body {
    height: 100vh;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
