---
export interface Props {}
---

<section
  class="flex flex-col md:flex-row items-center justify-between md:w-[60vw] w-[80vw] gap-2"
>
  <div class="flex flex-col items-start max-w-[90vw] md:max-w-[30vw]">
    <h1 class="font-bold text-4xl">
      Turing AI is the best<br /><b class="text-turing-light_purple"
        >way to use AIs</b
      >
    </h1>
    <p class="mt-2">
      Our mission is to bring the most powerful AI models to everyone for free
      in one place.
    </p>
    <div class="flex flex-col md:flex-row items-center gap-2 mt-4">
      <a
        href="https://link.turing.sh/bot"
        target="_blank"
        rel="noopener noreferrer"
        class="py-1 w-[80vw] md:w-fit flex flex-row justify-center items-center md:px-20 rounded-md bg-turing-light_purple/[.8] hover:bg-turing-light_purple transition duration-300 text-white text-lg"
      >
        Add bot
      </a>
      <a
        href="https://link.turing.sh/discord"
        target="_blank"
        rel="noopener noreferrer"
        class="py-1 px-2 flex flex-row justify-center items-center w-full md:w-fit md:px-6 rounded-md border-turing-light_purple/[.5] hover:border-turing-light_purple transition duration-300 border text-white text-lg"
      >
        Join Discord
      </a>
    </div>
  </div>
  <img
    src="/logo.png"
    alt="TuringAI Logo"
    class="md:visible md:w-[20vw] w-[0vw] md:h-auto h-[0vw]"
    draggable="false"
  />
</section>
