---
export interface Props {}
---

<footer class="flex flex-col items-center justify-center gap-4 mt-10 mb-5">
  <div class="flex flex-row items-center">
    <img src="/logo.png" alt="Logo" class="w-5 h-5 mr-2" />
    <p class="text-xl font-bold uppercase">Turing AI &copy;</p>
  </div>
  <ul class="flex flex-row items-center text-2xl">
    <li>
      <a
        href="https://link.turing.sh/github"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-turing-light_purple duration-300 transition"
      >
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="ml-4">
      <a
        href="https://link.turing.sh/discord"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-turing-light_purple duration-300 transition"
      >
        <i class="fab fa-discord"></i>
      </a>
    </li>
    <li class="ml-4">
      <a
        href="https://link.turing.sh/twitter"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-turing-light_purple duration-300 transition"
      >
        <i class="fab fa-twitter"></i>
      </a>
    </li>
  </ul>

  <ul class="flex flex-row items-center">
    <li>
      <a
        href="/privacy"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-turing-light_purple duration-300 transition"
      >
        Privacy Policy
      </a>
    </li>
    <li class="ml-4">
      <a
        href="/terms"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-turing-light_purple duration-300 transition"
      >
        Terms of Service
      </a>
    </li>
  </ul>
</footer>
