---
export interface Props {}
---

<section class="flex flex-col items-center justify-center">
  <h2 class="font-bold text-4xl">#1 Discord chat bot</h2>
  <div
    class="glassmorphism flex flex-col gap-4 md:gap-0 md:flex-row items-center w-[90vw] md:w-[60vw] justify-between p-1 px-14 mt-2"
  >
    <div
      class="flex flex-col items-center justify-center font-bold gap-0 md:gap-1"
    >
      <p class="w-fit text-2xl">Servers</p>
      <p class="w-fit text-2xl">+218k</p>
    </div>
    <div
      class="flex flex-col items-center font-bold gap-0 md:gap-1 justify-center"
    >
      <p class="w-fit text-2xl">Users</p>
      <p class="w-fit text-2xl">+370k</p>
    </div>
    <div
      class="flex flex-col items-center font-bold gap-0 md:gap-1 justify-center"
    >
      <p class="w-fit text-2xl">Generations</p>
      <p class="w-fit text-2xl">+5m</p>
    </div>
  </div>
</section>

<style>
  .glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
  }
</style>
